.introduction {
    text-align: center;
}

.boutton-intro {
    margin-top: 100px;
}

.introduction p {
    padding: 90px 230px 0px 230px;
}

.boutton-intro button {
    background-image: linear-gradient(to right, rgba(237, 222, 191, 0.3) 40%, rgba(137, 0, 8, 0.3) 60%);
    text-decoration: none;
    background-color: transparent;
    color: white;
    width: 250px;
    border: none;
    height: 60px;
}

section[class='content'] {
    padding: 50px;
    text-align: justify;
}

section[class='content'] p {
    padding-right: 102px;
    text-align: justify;
}

section[class='content'] div {
    display: inline-flex;
    margin-top: 30px;
}

section[class='content'] div div {
    display: block;
    padding-right: 10px;
}

section[class='content'] div div p {
    text-align: center;
    color: red;
}

/*section[class='justice-league'] div {
    background-image: url('../images/illustrations/Bathome11.png');
    height: 500px;
}*/