.introduction {
    text-align: center;
}

.boutton-intro {
    margin-top: 100px;
}

.introduction p {
    padding: 90px 230px 0px 230px;
}

.boutton-intro button, .part-5 button {
    text-decoration: none;
    background-color: transparent;
    color: white;
    width: 250px;
    border: none;
    height: 60px;
}

.boutton-intro button {
    background-image: linear-gradient(to right, rgba(237, 222, 191, 0.3) 40%, rgba(137, 0, 8, 0.3) 60%);
}

.part-5 button {
    background-image: linear-gradient(to bottom right, rgba(237, 222, 191, 0.7), rgba(137, 0, 8, 0.7));
}

/* ============================== CONTENT OF ALL SECTIONS =============================== */
section[class='content'] {
    padding: 50px;
    text-align: justify;
}

/* Titre */
section[class='content'] .text-1 {
    padding-right: 102px;
    text-align: justify;
}

/* Contenue */
section[class='content'] div {
    display: inline-flex;
    margin-top: 30px;
}

section[class='content'] div div {
    display: block;
    padding-right: 60px;
    text-align: right;
}

/* Image */
section[class='content'] div div img {
    width: 260px;
}

section[class='content'] div div p {
    text-align: center;
    color: white;
    font-size: 18px;
    font-weight: bolder;
}

/*==================== STYLE FOR SECTION JUSTICE LEAGUE ==================*/
section[class='justice-league'] {
    margin-top: 100px;
}

section[class='justice-league'] p, section[class='justice-league'] h1 {
    margin-left: 120px;
    margin-right: 120px;
    text-align: justify;
}

section[class='justice-league'] div img {
    margin-left: -20%;
}

/* PHOTO DU BOOMERANG */
img[class="img-enemy"] {
    width: 120px;
    height: 120px;
    margin-left: 13%;
    margin-bottom: -13%;
}

/* PHOTO DE BATMAN */
img[class="img-alias"] {
    float: right;
    margin-top: -108%;
    margin-right: -15%;
}

/*================ STYLE FOR SECTION MULTIMEDIA ===============*/
section[class='multimedia'] {
    padding: 50px;
}

.multi-content {
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(to bottom right, rgba(237, 222, 191, 0.3), rgba(25, 88, 125, 0.3));
    background-color: transparent;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-left: 25%;
    height: 200px;
}

.multi-content div {
    height: 100%;
    width: 350px;
    padding: 15px;
}

.multi-content div p {
    margin-top: -3%;
}

.multi-content div h2 {
    margin-top: -2%;
}

.multi-content img {
    height: 200px;
}

.arrow-left {
   height: 100%;
   margin-top: 12.5%;
}

.arrow-right {
    height: 100%;
    margin-left: 25%;
    margin-top: 12.5%;
}

.multi-video {
    margin-top: 50px;
}

/* ===================== STYLE FOR SECTION CONTACT =================*/
.contact {
    margin: 0px -20%;
    padding: 50px 200px;
    background-image: linear-gradient(to bottom right, rgb(100, 85, 54), rgb(0, 50, 50));
    background-color: transparent;
    border: 1px solid rgba(70, 70, 70, 0.9);;
}

.contact h1 {
    text-align: center;
}

.formulaire-contact {
    padding: 50px 200px;
}

.part-2, .part-4 {
    padding-top: 40px;    
}

.part-3 {
    margin-top: 20px;
    text-align: center;
}

.part-5 {
    margin-top: 50px;
    text-align: center;
}

.part-3 button {
    font-size: 14px;
    padding: 7px 20px;
    background-color: transparent;
    color: white;
    border: 1px solid rgb(50, 100, 100);
}

.ml-10 {
    margin-left: 10px;
}

.contact input[type='text'], .contact select {
    height: 20px;
    margin-top: 10px;
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid white;
    font-size: 14px;
}

.contact input[type='text']:hover{
    border-bottom: 2px solid white;
}

.contact input[type='text']:focus{
    border-bottom: 3px solid white;
}

.custom-select {
  position: relative;
  border-bottom: 1px solid white;
}

.custom-select select {
  display: none; /*hide original SELECT element: */
}

/* Style the arrow inside the select element: */
.select-selected:after {
    height: 50px;
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-color: rgb(100, 100, 100) transparent transparent transparent;
  background-image: linear-gradient(to bottom right, rgb(100, 85, 54), rgb(0, 50, 50));;
}

/* style the items (options), including the selected item: */
.select-items div,.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}

/* Style items (options): */
.select-items {
    position: absolute;
    background-color: transparent;
    background-image: linear-gradient(to bottom right, rgb(100, 85, 54), rgb(0, 50, 50));
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
}

/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

/*.contact select option {
    background-image: linear-gradient(to bottom right, rgb(100, 85, 54), rgb(0, 50, 50));
    background-color: transparent;
    border: 1px solid rgba(70, 70, 70, 0.9);
}*/

/* ===================== STYLE FOR SECTION CITATION =================*/
section[class='citation'] {
    padding: 150px;
}

section[class='citation'] .text {
    text-align: center;
    padding: 20px;
    font-size: 18px;
}

section[class='citation'] .text .subtext {
    font-size: 14px;
    color: #888;
}

section[class='citation'] .close {
    text-align: right;
    margin-top: -50px;
}

.close {
    text-align: right;
}

/* ===================== STYLE FOR SECTION FOOTER =================*/
footer {
    text-align: center;
}

footer .text {
    font-size: 12px;
}

footer .logos {
    padding: 50px;
    letter-spacing: 20px;
}

.-ml-5 {
    margin-left: -20px;
}