
 /* 
    ||   CSS GLOBAL FOR ALL PAGES
*/
/* Import all fonts */
@font-face {
    src: url('../fonts/Rajdhani/Rajdhani-Medium.ttf');
    font-family: 'Rajdhani-Medium';
}

@font-face {
    src: url('../fonts/SpaceGrotesk/SpaceGrotesk-Regular.ttf');
    font-family: 'SpaceGrotesk-Regular';
}

/*===========================================================================
    GLOBAL STYLE
=============================================================================*/

html {
    color: white;
    /*font-family: 'Rajdhani-Medium';*/
    overflow-x: hidden;
}

/* DEFINE ALL FONTS */
button {
    font-family: 'Rajdhani-Medium';
    font-size: 20px;
}

button span {
    opacity: 1;
}

h1 {
    font-family: 'Rajdhani-Medium';
    font-size: 36px;
}

h2 {
    font-family: 'SpaceGrotesk-Regular';
    font-size: 12px;
    letter-spacing: 3px;
}

.sous-titre {
    font-family: 'SpaceGrotesk-Regular';
    font-size: 22px;
}

.text {
    font-family: 'SpaceGrotesk-Regular';
    font-size: 12px;
}

.text-1 {
    font-family: 'SpaceGrotesk-Regular';
    font-size: 18px;
}

.text-space-grotesk-head {
    font-family: 'Rajdhani-Medium';
    font-size: 14px;
}

.text-randjani-head {
    font-family: 'Rajdhani-Medium';
    font-size: 18px;

}

.margin-200 {
    margin-top: 200px;
}


/*===============================================================
 CSS 
 ================================================================*/
html {
    margin-top: 0px;
}

body {
    background-image: url('../images/illustrations/Bathome1.png');
    background-repeat: no-repeat;
    margin-top: -10px;
    background-color: black;
    background-size: contain;
    padding: 0px 102px;
}

/* HEADER STYLE */
#page-top h1 {
    background-image: url('../images/logos/logohome.png');
    background-repeat: no-repeat;
    width: 150px;
    height: 70px;
}

header {
    padding: 50px 102px 50px 102px;
    border: 3px solid rgba(188, 187, 189, 0.2);
    display: flex;
    justify-content: space-between;
}

/*  NAV STYLE */
nav {
    float: right;
}

nav ul {
    display: inline-flex;
}

nav a {
    color: white;
    font-size: 20px;
    text-decoration: none;
    margin-left: 10px;
}

nav a:hover {
    font-weight: bolder;
    text-decoration: underline;
}

/* ========================== SIDEBAR ================================*/
aside {
    float: right;
    position: fixed;
    text-align: center;
    margin-left: 74vw;
}

aside img {
    border: 1px solid transparent;
}

aside .social-network {
    margin-top: 20%;
}

ul li {
    list-style-type: none;
}

/* ============= CONTENT STYLE =====================*/
main {
    border: 3px solid rgba(188, 187, 189, 0.2);
    padding: 20px;
    padding-bottom: 200px;
    border-bottom: none;
}

/* TEXT CENTER */
.text-center {
    text-align: center;
}

.hover-jaune-bataman:hover {
    border-color: #f8f184;
}

.hover-jaune-bataman {
    border: 1px solid transparent;
}

.mt-10 {
    margin-top: 10%;
}


/*============ ANIMATION ==================*/
/* ZOOM DE 10% */
.animate-zoom:hover {
    transform: scale(1.1);
    transition: transform 0.2s ease-in-out;
}

/* FADE IN */
.fade-in {
    animation-name: fade-in;
    animation-duration: 3s;
}

@keyframes fade-in {
    from {
        opacity: 0;
        transform: translateX(-50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.message {
    font-size: 24px;
}